<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand">RADIONICS <span class="badge">v.1.0.0</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item pointer" *ngFor="let link of links">
          <a class="nav-link pointer" [class.activeLink]="link.active" [class.inactiveLink]="!link.active" (click)="navigate(link.title)">{{link.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="content-fluid" role="main">
  <router-outlet></router-outlet>
  <footer>
    <app-hotbits></app-hotbits>
    <p class="copyrightInfo">Copyright by Isuret Polos 2023</p>
  </footer>
</div>

