input {
  background-color: #451880;
  margin-left: 1rem;
  color: #ffda6a;
  caret-color: #ffc302;
  padding-left: 0.5rem;
  box-sizing: border-box;
  font-weight: bolder
}

button {
  margin: 0.3rem;
}
