<div *ngIf="randomNumberService.webCamOn">
  <button class="btn btn-primary" (click)="analyze()">ANALYZE</button>
  <button class="btn btn-primary" (click)="checkGeneralVitality()">GV {{gv}}</button>
  <span *ngIf="analyzing" class="badge badge-primary">analyzing ... please wait</span>
  <hr>
</div>
<div *ngIf="!randomNumberService.webCamOn">
  Switch webCam on if you want to analyze
</div>

<div *ngIf="analysisResult">
  <table class="table table-dark table-striped-columns table-sm table-hover">
    <thead>
    <tr>
      <th>EV</th>
      <th>Rate / Signature</th>
      <th>GV</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rate of analysisResult.rates" [class.table-success]="rate.gv >= 1000">
      <td>{{rate.energeticValue}}</td>
      <td *ngIf="rate.url"><a href="{{rate.url}}" target="{{rate.name}}">{{rate.name}}</a></td>
      <td *ngIf="!rate.url">{{rate.name}}</td>
      <td *ngIf="rate.gv < analysisResult.gv && rate.gv < 1000">{{rate.gv}}</td>
      <td *ngIf="rate.gv > analysisResult.gv && rate.gv < 1000"><span class="badge text-bg-primary">{{rate.gv}}</span>
      </td>
      <td *ngIf="rate.gv >= 1000"><span class="badge text-bg-success">{{rate.gv}}</span></td>
    </tr>
    </tbody>
  </table>
  <span *ngIf="analysisResult" class="badge bg-dark">{{analysisResult.gv}}</span>
  <canvas baseChart
          [datasets]="bubbleChartDatasets"
          [options]="bubbleChartOptions"
          [legend]="bubbleChartLegend"
          [type]="'bubble'" width="500" height="500">
  </canvas>
</div>
